@import './../../assets/styles/abstracts/variables';
.password__generator__container {
  z-index: -999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  .password-generator {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 330px;
    height: fit-content;
    padding: 20px;
    h4 {
      text-align: center;
      color: var(--placeholder);
    }
    .control__pannel{
      padding: 20px;
      background-color: var(--backgroundsecondary);
      .strengh-container{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        align-items: center;
        .strength-description{
          display: flex;
          align-items: center;
          gap: 11px;
          .level{
            display: flex;
            gap: 4px;
            div{
              width: 7px;
              height: 19px;
              border: 1px solid var(--primaryYellow);
            }
            nav{
                width: 7px;
              height: 19px;
              background-color:green;
              border: 1px solid var(--primarygreen);
            }
          }
        }
      }
    }
    .password__output {
      display: flex;
      height: 55px;
      width: 100;
      justify-content: space-between;
      background-color: var(--backgroundsecondary);
      align-items: center;
      padding: 0px 17px;
      p {
        color: var(--text);
      }
      svg {
        color: var(--primarygreen);
      }
    }
    .checkboxes {
    
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      div {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
    .generate--button{
      color: black;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primarygreen);
      gap: 20px;
      height: 40px;
      cursor: pointer;
      font-size: 15px;
      margin-top: 20px;
    }
  }
}
