:root {
  --background: rgb(15, 14, 20);
  --backgroundsecondary:rgb(36,34,43);
  --text: rgb(222,221,230);
  --primarygreen:rgb(164,254,175);
  --primaryYellow: #ffb400;
  --placeholder: rgb(68,66,77);
}
[data-theme='dark'] {
  --background: rgb(15, 14, 20);
  --backgroundsecondary:rgb(36,34,43)
  --text: rgb(222,221,230);
  --primarygreen:rgb(164,254,175)
  --placeholder: rgb(68,66,77);
  --primaryYellow: #ffb400;
  --labelcolor: rgba(255, 255, 255, 0.761);
  .transition-enabled {
    transition: none !important;
  }
}
